version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: tiktok_mysql
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - tiktok_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  web:
    build: .
    container_name: tiktok_django
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /mnt/wslg:/mnt/wslg
    ports:
      - "8000:8000"
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: db
      DB_PORT: 3306
      DISPLAY: ${DISPLAY}
      PULSE_SERVER: unix:/mnt/wslg/PulseServer
      XDG_RUNTIME_DIR: /mnt/wslg/runtime-dir
    depends_on:
      db:
        condition: service_healthy
    networks:
      - tiktok_network

volumes:
  mysql_data:

networks:
  tiktok_network:
    driver: bridge
