*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

.hide {
  display: none;
}

.world::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 10;
  animation: reveal 1s ease-out forwards;
  animation-delay: 2s;
}

@keyframes reveal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
  z-index: 11;
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

.cloud {
  --left: 0;
  --top: 10;
  position: absolute;
  width: 15%;
  top: calc(var(--top) * 1%);
  left: calc(var(--left) * 1%);
}